body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginCon,
.registerCon{
  width: 100%;
  height: 100%;
  background: lightblue;
  background-size: cover;
  position: relative;
}
.loginCon .ant-form{
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 195px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}
.loginCon .ant-form-item-children,
.registerCon .ant-form-item-children{
  display: flex;
  justify-content: space-between;
}
.loginCon .ant-btn,
.registerCon .ant-btn{
  width: 150px;
}

.registerCon .ant-form{
  position: absolute;
  top: calc(50% - 178px);
  left: calc(50% - 195px);
  width: 350px;
  height: 356px;
  padding: 10px;
  z-index: 2;
}
